<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model.rentals as |rental|}}
     {{rental-tile rental=rental}}
  {{/each}}
</ul>

<ul>
  {{#each model.announcements as |announcement|}}
     <h2>{{announcement.title}}</h2>
     <h5>{{announcement.time}}</h5>
     <img src={{announcement.img}}>
     <p>{{announcement.message}}</p>

     {{announcement-tile announcement=announcement destroyAnnouncement='destroyAnnouncement'}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}
{{new-announcement saveAnnouncement2="saveAnnouncement3"}}

<h2> All Reviews </h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>

{{new-review saveReview="saveReview"}}

<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
